@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.nav{
    content: " ";
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 40px;
    align-items: end;
    margin-left: 50%;
    width: 50%;
    text-align: end;
    position: absolute;
    /* z-index: 1; */
    /* opacity: 0.5; */
    background-color: transparent;
}
.nav a{
    font-family:  "montserrat", sans-serif;
    padding-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
}
.nav a:hover{
    animation-name: recolor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes recolor{
    from{
        color: white;
    }
    to{
        color: rgba(214, 32, 32, 0.685);
    }
}
.logo{
    position: absolute;
    /* margin-right: 100px; */
    /* z-index: 1; */
    margin-top: 30px;
    margin-left: 35px;
    background-color: transparent;
}
.hero-section{
    width: 100%;
    height: 73vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #252d41; */
    background-attachment: absolute;
    pointer-events: none;
    margin-bottom: 35px;
}
.hero-section::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images3/hero3.png );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #252d41;
    background-blend-mode: soft-light;
    z-index: -1;
}
.stuff p{
    margin-top: 30px;
    font-size: 18px;
    color: white;
    padding-bottom: 25px;
}
.stuff h1{
    font-size: 80px;
    color: white;
    font-weight: 700;
    padding-bottom: 30px;
}
.second{
    width: 100%;
    height: 800px;
    margin: 35px 0px;
    background-color: #f6f6f6;
}
.grid-img{
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 400px 250px 500px;
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.i{
    padding-top: 300px;
    grid-column: 3/4;
    grid-row: 1/5;
    padding-bottom: 100px;
}
.i img{
    object-fit: cover;
    width: 400px;
    height: 610px;
}
.ii{
    padding-top: 200px;
    grid-column: 2/3;
    grid-row: 1/3;
    /* padding-bottom: 100px; */
}
.ii img{
    width: 250px;
    height: 300px;
}
.iii{
    padding-top: 200px;
    grid-column: 2/3;
    grid-row: 3/5;
    /* padding-bottom: 100px; */
}
.iii img{
    width: 250px;
    height: 300px;
}
.text{
    padding-top: 300px;
    grid-column: 1/2;
    grid-row: 1/5;
    width: 400px;
    height: 610px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 30px;
    /* padding-bottom: 100px; */
}
.text h1{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 30px;
    color: #252d41;
}
.text p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #3a4664;
    padding-bottom: 30px;
}
#but2{
    height: 60px;
    width: 250px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border: 3px solid #fa627c;
    color: #3a4664;
    padding: 18px 50px;
}
#but2:hover{
    background-color: #fa627c;
    border: none;
    color: white;
}
#third{
    background-color: #f6f6f6;
    display: flex;
    width: 100%;
    height: 600px;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
}
.box{
    background-color: white;
    width: 300px;
    height: 300px;
    text-align: center;
}
.box img{
    padding-top: 30px;
    margin: auto;
    /* width: 50px;
    height: 50px; */
}
.box h1{
    color: #252d41;
    font-size: 20px;
    padding: 20px 0px;
    width: 80%;
    margin: auto;
    font-weight: 800;
}
.box p{
    color: #3a4664;
    font-size: 15px;
    width: 80%;
    margin: auto;
    font-family: "montserrat", sans-serif;
}
#fourth{
    width: 100%;
    height: 60vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #252d41; */
    background-attachment: absolute;
    pointer-events: none;
    margin-bottom: 35px;
}
#fourth::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images3/herox.png );
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(53, 52, 52);
    background-blend-mode: soft-light;
    z-index: -1;
}
#fourth h1{
    color: white;
    font-size: 30px;
}
#fourth p{
    color: white;
    font-size: 15px;
    font-family: "montserrat", sans-serif;
    padding: 30px 0px;
}
#but3{
    padding: 20px;
    width: 300px;
    background-color: transparent;
    border: 3px solid #ff6780;
    color: white;
    font-family: "montserrat", sans-serif;
}
#but3:hover{
    background-color: #ff6780;
}
#sixth{
    display: flex;
    flex-direction: row;
    height: 800px;
}
.grand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 800px;
    /* margin-top: 35px; */
    background-color: #ff6780;
}
.grand p, .grand h1{
    width: 75%;
    text-align: center;
    color: white;
}
.grand img, .grand p, .grand h1{
    margin-bottom: 30px;
}
.grand p{
    font-size: 15px;
    font-family: "montserrat", sans-serif;
}
.grand h1{
    font-size: 48px;
    font-weight: 600;
}
.social-icons2{
    /* margin-top: 20px; */
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin-left: 90px; */
}
.exp2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* width: 100%; */
    /* height: 100%; */
}
.exp2 i{
    border: 6px solid white;
    border-radius: 50%;
    color: #ff6780;
    background-color: white;
    margin: 10px;
    font-size: 25px;
}
.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}
.form h1, .form p, .form input{
    width: 80%;
    text-align: center;
}
.form h1{
    font-size: 48px;
    font-weight: 600;
    color: #252d41;
    padding: 10px;
}
.form p{
    font-size: 15px;
    font-family: "montserrat", sans-serif;
    color: #3a4664;
    padding: 10px;
}
.form input{
    padding: 12px;
    text-align: left;
    font-family: "montserrat", sans-serif;
    margin: 10px 0px;
    background-color: #fafafa;
    border: 2px dotted #fafafa;
    border-color: #f6f6f6;
}
.form input:focus{
    border: 1px dotted #fafafa;
    border-color: #fafafa;
    border: none;
}
#message{
    padding-bottom: 80px;
    padding-top: 12px;
    margin-bottom: 20px;
}
#but4{
    padding: 15px;
    width: 300px;
    border: 2px solid #fa627c;
    background-color: transparent;
    font-family: "montserrat", sans-serif;
    font-size: 15px;
}
#but4:hover{
    border: none;
    background-color: #fa627c;
    color: white;
}
footer{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #252d41;
    color: white;
}
.copy{
    margin-left: 80px;
    font-family: "montserrat", sans-serif;
    font-size: 15px;
}
.power{
    margin-left: 50%;
    font-family: "montserrat", sans-serif;
    font-size: 15px;
}

@media (max-width:768px) {
    .hero-section{
        width: 768px;
    }
    .hero-section::before{
        width: 768px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .stuff h1{
        font-size: 40px;
    }
    .stuff p{
        font-size: 16px;
        margin-top: 80px;
        padding-bottom: 5px;
    }
    .second{
        height: 1050px;
    }
    .grid-img{
        grid-template-columns: 250px 150px 300px;
    }
    .i{
        padding-top: 100px;
    }
    .i img{
        object-fit: cover;
        width: 300px;
        height: 380px;
        padding-top: -100px;
    }
    .ii{
        padding-top: 95px;
        padding-bottom: 0px;
    }
    .ii img{
        width: 150px;
        height: 150px;
    }
    .iii{
        padding-top: 0px;
        margin-top: -140px;
    }
    .iii img{
        width: 150px;
        height: 200px;
    }
    .text{
        padding-top: 0px;
        width: 250px;
        height: 380px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-left: 30px;
        /* padding-bottom: 100px; */
    }
    .text h1{
        font-size: 40px;
    }
    .text p{
        width: 90%;
        font-size: 14px;
    }
    #but2{
        width: 100%;
        font-size: 13px;
        padding: 18px 0px;
    }
    #third{
        height: 750px;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 30px;
        margin-top: 100px;
    }
    .box{
        width: 340px;
        height: 250px;
    }
    #third{
        width: 100%;
        height: 1300px;
    }
    #sixth{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grand{
        width: 100%;
        padding: 120px 0px;
        height: 480px;
    }
    .form{
        width: 100%;
        padding: 150px 0px;
        height: 480px;
    }
    footer{
        margin-top: 200px;
    }
    .copy{
        width: 50%;
        font-size: 14px;
    }
    .power{
        font-size: 14px;
        margin-left: 10%;
    }
}
@media (max-width: 425px) {
    .hero-section{
        width: 425px;
    }
    .hero-section::before{
        width: 425px;
    }
    .second{
        width: 100%;
        height: 1400px;
    }
    .grid-img{
        display: flex;
        flex-direction: column;
        width: 99%;
        /* margin-top: 400px; */
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .text{
        padding-top: 0px;
        width: 100%;
        height: 610px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin: auto;
        /* padding-bottom: 100px; */
    }
    .text p{
        width: 90%;
    }
    .i, .ii, .iii{
        width: 95%;
        padding: 0;
        margin: auto;
    }
    .i img{
        width: 100%;
        margin: auto;
        height: 400px;
        padding-top: 00px;
        margin-top: 500px;
    }
    .ii img{
        width: 100%;
        margin: auto;
        height: 400px;
        padding-top: 00px;
        margin: 0px;
        margin-top: 15px;
    }
    .iii img{
        width: 100%;
        margin: auto;
        height: 400px;
        padding-top: 00px;
        margin: 0px;
        margin-top: 0px; 
    }
    .container{
        width: 100%;
    }
    .box{
        width: 90%;
        margin: auto;
    }
    .box p{
        width: 100%;
    }
    .form{
        margin-top: 100px;
    }
    footer{
        margin-top: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .copy, .power{
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .copy{
        padding-bottom: 40px;
    }

}
@media (max-width: 375px) {
    .hero-section{
        width: 375px;
    }
    .hero-section::before{
        width: 375px;
    }
}
@media (max-width: 320px) {
    .hero-section{
        width: 320px;
    }
    .hero-section::before{
        width: 320px;
    }
}